@model  Recommendations.Models.Search

@{
    ViewBag.Title = "Home Page";
}
<style>
    .search-query{
        width: 100%;
    }
    .controls{
        float:left;
    }
    #search-button {
        float: left;
        margin-left: 10px;
    }
</style>
<div class="jumbotron">
    <h1>NICE Recommendations</h1>
    <p class="lead">Find relevant recommendations on various topics</p>
    <form action="@Url.Action("Index","search")" method="get" data-track="search" class="evidence-search clearfix">
        <div class="nice-search">
            <div class="controls">
                <input name="q" type="text" value="" autocomplete="off" spellcheck="false" placeholder="Search..." maxlength="250" class="search-query" data-provide="typeahead" data-source="@Url.Action("Index","autocomplete")?%query" />
            </div>
            <button id="search-button" type="submit" class="btn btn-success dropdown-toggle"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </div>
</div>
<p>We would love you to use this search tool as much as you want, but please bear in mind that it is an experimental tool and may have some small gaps in coverage. For more information, contact <a href="mailto:angus.leitch@nice.org.uk?subject=About the dev recommendations search">Angus leitch</a>.</p>
<div class="row">

</div>
